@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap'); /* Підключаємо шрифт Montserrat */
.friends-item{
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif; /* Шрифт Montserrat */
    text-align: center;
    font-size: 40pt;
    color: rgb(238, 241, 243);
    
}

.cont-of-don{
    
    /* background-color: aliceblue; */
    padding: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -30px;
    
}

.container-rep {
    min-width: 90vh;
    margin-top: 30px;
    
}

.history-cont{
    background-color: #444;
    width: 90vh;
    height: 40vh;
    border-radius: 1%;
    overflow-y: auto;
    /* для всіх браузерів */
    scrollbar-width: thin; /* або narrow, або thin */
    scrollbar-color: #444 #666; /* колір смужки прокрутки */
    /* для WebKit */
    ::-webkit-scrollbar {
        width: 5px; /* ширина смужки прокрутки */
        height: 5px; /* висота смужки прокрутки */
    }
    ::-webkit-scrollbar-thumb {
        background-color: #666; /* колір смужки прокрутки */
        border-radius: 5px; /* радіус смужки прокрутки */
    }
}

.data-history {
    margin-bottom: 10em; /* Increase distance between rows */
    text-align: center; /* Center the content */
    margin-top: 15px;
    

}

.empty {
    margin-right: 13px;
    display: flex;
    flex-direction: column;
}
  
.underlined {
    
    display: inline-block;
    position: relative;
    margin: 15px;
    margin-left: 20px;
    min-width: 93%; /* Мінімальна ширина для елемента */
    height: 30px; /* Висота рядка */
    

}

/* Підкреслення для порожнього рядка */
.underlined::after {
    content: "";
    position: absolute;
    bottom: 0; /* Підкреслення внизу елемента */
    left: 0;
    width: 100%;
    height: 4px; /* Товщина підкреслення */
    background-color: #9CA3AF; /* Колір підкреслення */
}



.hist-titl1{
    position: absolute;
    margin-top: -16px;

    font-size: 10pt;
    
    
}

.hist-titl2{
    margin-top: 10px;
    font-size: 10pt;
    font-weight: bold;
}






.task {

    background-color: #444;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex; /* use flexbox to align elements */
    justify-content: space-between; /* align elements to opposite sides */
    align-items: center; /* center elements vertically */
    position: relative;
    
}

.arrow {
    
    position: absolute;
    right: 30px; /* push the arrow to the right side */
    transform: rotate(270deg) scale(1.6) ;
}

.text{
    margin-left: 15px;
}


.modal{display: none;}



@media only screen and (max-width: 480px) {
    .friends-item {
      font-size: 24pt; /* Reduce font size for mobile */
      margin-top: 20px; /* Adjust margin for mobile */
    }
    
    .cont-of-don {
      height: 40vh; /* Adjust height for mobile */
      padding: 2vh; /* Adjust padding for mobile */
    }
    
    .history-cont {
      max-width: 310px; /* Adjust minimum width for mobile */
      max-height: 100px;
    }
  }