

/* Основні стилі для модального вікна */
.modal {
  display: none;
  position: fixed;
  z-index: 9999; /* Set a very high z-index to ensure it overlays all other elements */
  left: 50%; /* Center horizontally */
  top: 80px;
  bottom: 0px;
  transform: translate(-50%, 0); /* Adjust the position to center the modal horizontally */
  width: 100%;
  height: 100%;
  background-image: url('New gradient SV копія.png');
  /* background-image: url('Background-VIC.svg'); */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.modal{
  display: none;
}
.modal-content {
    
    
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    height: 89%;
    max-width: 500px;
    text-align: center;
    position: relative;
   /* Вищий за фоновий елемент модального вікна */
}



.bottom-title-daily {
  margin: 0;
  position: absolute;
  background-color: #888;
  height: 40px;
  padding: 0;
  width: 100%;
  text-align: right; /* Вирівнюємо текст вправо */
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Вирівнюємо контент вправо */
  top: 0;
  left: 0;
  /* margin-top: -20px; */
  /* margin-left: -20px; Додаємо трохи внутрішнього відступу з правого боку */
}

 
.title-daily{
  flex: 1;
  text-align: center;
  margin-left: 20px;
}


 
  /* Modal Content styles */
.modal-content-daily {
 
    
    position: relative;
  
    padding: 20px;
    width: 100%; /* Could be more or less, depending on screen size */
    height: 100%;
    box-sizing: border-box;
        
    
}
  
  /* Close button styles */
.close-button-daily {
  background-color: transparent;
  color: #f6f5f5;
  font-size: 50px;
  border: none;
  margin-top: 2px;
}



  
  
  .close-button-daily:hover,
  .close-button-daily:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    
    
  }
  
  /* Bottom title styles */

  
  #modal-body {
    padding: 20px;
  }

.bottom-title * {
  display: inline;
}



.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }




/* Для планшетів і малих екранів (ширина до 768px) */
@media only screen and (max-width: 768px) {
  
}

/* Для телефонів (ширина до 480px) */
@media only screen and (max-width: 480px) {
  .modal-content {
      width: 95%; /* Майже повна ширина на телефонах */
      height: 75%; /* Ще більше зменшуємо висоту */
      max-width: none; /* Відключаємо максимальну ширину */
  }

  .modal {
    
    height: 100%;
      top: 95px; /* Зменшуємо відстань від верху на телефонах */
  }

  .modal-content-daily {
      margin: auto;
      padding: 10px;
      height: 100%;
      width: 100%;
     
      
      
  }

  .bottom-title-daily {
   
    font-size: 10px;
    height: 35px;
    top: 0;
    
  }


  .close-button-daily {
      margin-right: -8px;
      font-size: 35px; /* Ще більше зменшуємо розмір кнопки закриття */
  }

  

  .title-daily {
      margin-left: 55px;
  }
}

