body {
    background-image: url('Background VIC.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Забезпечує, що фон покриває всю висоту екрана */
    margin: 0; /* Вимкнення відступів */
}




.container {
    text-align: center;
}

.animation-container img {
    width: 80%; /* Використовуємо відсотки для адаптивності */
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.svg-button {
    width: 20vw; /* Ширина в 20% від ширини вікна оглядача */
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1; /* Ставимо аспект-ратио, щоб зберегти пропорції 1:1 */
}

/* Ensure SVG scales properly */
.svg-button svg {
    width: 100%;
    height: 100%; /* Щоб SVG займав всю кнопку і зберігав пропорції */
    object-fit: contain; /* Забезпечує, що SVG не виходить за межі і зберігає співвідношення сторін */
}