body {

    background-image: url('Background-VIC.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh; /* Забезпечує, що фон покриває всю висоту екрана */
    margin: 0; /* Вимкнення відступів */
}




.container {
 
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центр по вертикалі */
    align-items: center; /* Центр по горизонталі */
    min-height: 100vh; /* Контейнер займає щонайменше всю висоту екрану */
    text-align: center;
    padding: 20px; /* Додаємо трохи відступів для краси */
}  


.navigation {
    position: absolute;
   
   
    border-radius: 50%;
    bottom: 10mm;
    left: 0;
    right: 0;
    width: 90%; /* Збільшена ширина для більш зручного розташування на екрані */
    margin: 0 auto; /* Центрування навігації */
    height: 55px; /* Збільшена висота для зручності */
    padding: .5rem; /* Менші відступи всередині для економії простору */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* Округлені кути */
    
    
    
}

  
.nav-item {
    background-color: #4D4D4D ;
    max-width: 80px;
    background-size: 20px 25px;
    cursor: pointer; /* Make items clickable */
    
     
}

/* .nav-item:hover {
    opacity: 0.8;
} */

.nav-item:active {
    transform: scale(0.9);
}

.nav-item object[type="image/svg+xml"] {
    width: 20px;
    height: 20px;
    transform: scale(0.5);
}

/* Стиль для активної кнопки */
.nav-item.active {
    background-color: #333333; /* Можна змінити колір для активної кнопки */
    box-shadow: 0 0 10px #333333; /* Можна додати тінь */
}

.nav-item:first-child {
    border-radius: 5px 0 0 5px;
}

/* Закруглюємо правий верхній і правий нижній краї для останньої кнопки */
.nav-item:last-child {
    border-radius: 0 5px 5px 0;
}

body {
    min-height: 80vh;
  }
  
  /* Adjust styles for mobile devices */
  @media (max-width: 480px) {
    body {
      min-height: 85vh;
    }

    .navigation {
        width: 93%; 
        height: 50px;
        bottom: 7vh
        
    }
    .nav-item {
        
        width: 19.35%;
        height: 110%;
    }
  }
  
  /* Adjust styles for tablets */
  @media (min-width: 481px) and (max-width: 768px) {
    body {
      min-height: 70vh;
    }
    .navigation {
        width: 93%; 
        height: 50px;
        bottom: 8vh;
        
    }
  }









/* @media (max-width: 600px) {
    .navigation {
        width: 93%; 
        height: 50px;
        bottom: 22%;
        
    }
    
    .nav-item {
        width: 19.35%;
        height: 110%;
    }
} */


