.lins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80mm;
  font-size: 11px;
  
}

.experience-container, .donate-conteainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  padding: 20px;
  width: 80.6mm;
  height: 10px;
  flex-direction: row;
  margin-right: 3px;
}

.image {
  width: 7mm;
  height: 7mm; 
}


.count-pay{
  height: 29px;
  color: white;
}

.count-prog{
  height: 29px;
  color: white;
}

.bottom-right-image {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
}

.progress-bar, .pay-bar{
  width: 100%; 
  height: 5mm;
  background-color: #4D4D4D ;

  border-radius: 5px;
  
}

.progress-fill, .pay-fill {
  height: 100%;
  background-color: #8CC63F; /* green color for filled part */
  border-radius: 5px;
  width: 0% ;
  
}

#vic-progress{
  width: 10% ;
  height: 5mm;


}

#uah-progress{
  width: 0%;
}
.progress-bar{
  height: 4.7mm;
}



.donate-button {
  width: 62mm; 
  font-size: 200%;
  background-color: #39B54A;
  color: white;
  border: none;
  padding: 1px 3px;
  height: 14.5mm;
  border-radius: 5px;
  cursor: pointer;
  position: absolute; /* Add this to position the button absolutely */
  bottom: 32mm; /* Position the button at the bottom */
  left: 50%; /* Position the button at the center horizontally */
  transform: translateX(-50%); /* Adjust the button's position to be perfectly centered */
}

.duck {
  width: 65mm;
  position: absolute; /* Position the duck element absolutely */
  bottom: 190px; /* Position the duck element at the bottom */
  left: 50%; /* Position the duck element at the center horizontally */
  transform: translateX(-50%); /* Adjust the duck element's position to be perfectly centered */
}




.lins {
  gap: 80mm;
}


@media (max-width: 100px) {
  .lins {
    gap: 49vh;
  }
  .donate-button{
    bottom: 27vh;
  }
  .duck{bottom: 37vh;}
}

/* Adjust styles for mobile devices */
@media (max-width: 480px) {
  .lins {
    gap: 53vh;
  }
  .donate-button{
    bottom: 21vh;
  }
  .duck{bottom: 37vh;}
}

/* Adjust styles for tablets */
/* @media (min-width: 481px) and (max-width: 768px) {
  .lins {
    gap: 62vh;
  }
  .donate-button{
    bottom: 19vh;
  }
  .duck{bottom: 30vh;}

} */


@media (min-width: 481px) and (max-width: 768px) {
  /* Додаємо клас для більшої специфічності */
  .tablet .lins {
    gap: 62vh;
  }
  .tablet .donate-button {
    bottom: 19vh;
  }
  .tablet .duck {
    bottom: 30vh;
  }
}

/* @media (max-width: 700px) {
  .lins{
    gap: 1000%;
 
      
  }

  .donate-button{
    bottom: 34%;
  }
  
  .duck{bottom: 88mm;}
  

} */