.experience_container {
    justify-content: space-between;
    position: fixed;
    margin-bottom: 1%;
    left: 0;
    right: 0%;
    margin: 0 auto; /* Центрування по горизонталі */
    width: 63mm; /* Задаємо ширину блоку */
    padding: 2%;
    display: flex;
    margin-top: 5%;
    margin-left: 41px;
    
    
}


  .progress-bar {
    height: 5.2mm;
    background-color: #8CC63F ; /* Колір заповнення */
    border-radius: 5px;
    flex-grow: 1;
  }

  .progres-image{
    margin-right: 12px;
    width: 5mm;
    height: 5mm;
   
  
    background-size: 5m;
    
    
  }

.donate-container {
    position: fixed;
    bottom: 40mm;
    left: 0;
    right: 0;
    margin: 0 auto; /* Центрування по горизонталі */
    width: 63%; /* Задаємо ширину блоку */
    height: 10%;
    padding: 1%;
    text-align: center;
   
    /* background-color: hsl(141, 78%, 51%); */
    
    
}



.donate-button {
    font-size: 200%;
    background-color: #39B54A;
    color: white;
    border: none;
    padding: 1px 3px;
    width: 55.5mm; /* Задаємо ширину кнопки 100% від ширини блоку */
    height: 12.5mm;
    border-radius: 5px;
    cursor: pointer;
    
    
}

    
    


.donate-bar {
  display: flex;
  position: fixed;
  height: 3.5mm; /* Висота лінії */
  width: 75%;
  border-radius: 5px; /* Заокруглені кути */
  padding: 12%;
 
  right: 0;
  bottom: 55mm;
  
}

.pay-bar {
  background-color: #8CC63F ; /* Колір заповнення */
  width: 5%;
  height: 5mm;
  max-width: 155mm;
  border-radius: 5px;
  
  
  
}

.pay-image{
  margin-right: 12px;
  width: 5mm;
  height: 5mm; 
  
}

@media (max-width: 768px) {
  .experience-container, .donate-container {
    width: 69%;
    
  }
}