

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap'); /* Підключаємо шрифт Montserrat */
.friends-item{
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif; /* Шрифт Montserrat */
    text-align: center;
    font-size: 40pt;
    color: rgb(238, 241, 243);
    
}




/* Загальні стилі для всієї сторінки */
body {
    font-family: Arial, sans-serif;
    background-color: #0A0A3A;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    
    justify-content: flex-start;
    
    
}

.claim-container{
    display: flex;
    justify-content: center;
    margin-right: 35px;
    gap: 10px;

  }

.img_fr{
    width: 19px;
    height: 19px; 
}

.img_inf{
    width: 10px;
    height: 10px; 
}

.image1{
    width: 40px;
    height: 40px;
    margin-top: -15px; 
    margin-right: -15px;
}



.hist-titl{
    position: absolute;
    margin-top: -25px;
    margin-left: -10px;
    font-size: 10pt;
    
    
}

.title-daily:before {
    content: "Invite a friend";
  }


button {
    background-color: #4B5563;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
}


/* Контейнер для запрошень */



.line-st::after {
    
    content: "";
    position: absolute;
    bottom: 0; /* Лінія по нижньому краю */
    left: 50%; /* Початок лінії з середини */
    transform: translateX(-50%); /* Центрування лінії */
    width: 95%; /* Задає ширину лінії */
    height: 2px; /* Товщина лінії */
    background-color: #9CA3AF; /* Колір лінії */
   
    
}


.data-container5{
    margin-top: 10px;
    background-color: #4D4D4D; 
    border-radius: 2%;
    padding: 10px;
    position: relative;
    height: 200px; /* Максимальна висота контейнера */
    width: 400px;

       
}
#extraCoins {
    float: right;
    margin-right: 5px; /* or padding-right: 10px; */
  }

.data-container{
    /* background-color: aliceblue; */
    width: 96%;
    height: 110px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column; 
    scrollbar-width: thin; /* або narrow, або thin */
    scrollbar-color: #444 #666; /* колір смужки прокрутки */
    /* для WebKit */
    ::-webkit-scrollbar {
        width: 5px; /* ширина смужки прокрутки */
        height: 5px; /* висота смужки прокрутки */
    }
    ::-webkit-scrollbar-thumb {
        background-color: #666; /* колір смужки прокрутки */
        border-radius: 5px; /* радіус смужки прокрутки */
    }
    
    
}

.underlined-fr{
   
    display: inline-block;
    position: relative;
   
    margin-left: 20px;
    width: 51vh; /* Мінімальна ширина для елемента */
    height: 30px; /* Висота рядка */
    margin: 5px 0; 
    

}

/* Підкреслення для порожнього рядка */
.underlined-fr::after {
    content: "";
    position: absolute;
    bottom: 0; /* Підкреслення внизу елемента */
    left: 0;
    width: 100%;
    height: 1px; /* Товщина підкреслення */
    background-color: #9CA3AF; /* Колір підкреслення */
}

.emptyt {
    margin-bottom: 15px;
  
    margin-right: 13px;
    display: flex;
    flex-direction: column;
}



 
/* Список друзів */
div.bg-gray-600 {
    
    padding: 16px;
    border-radius: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    
    
}

.flex-col {
    display: flex;
    flex-direction: column;
    
}

.flex, .flex-items {
    display: flex;
    font-size: 10px;
    gap: 10px;  
    
}


.flex-items{
 margin-top: -20px;
 margin-left: -20px;   
}
 

/* Аватар */
div.bg-gray {
    background-color: #9CA3AF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    
}



#level {
    margin-left: 45px; /* Відступ зліва 10 пікселів */
}

#coins1 {
    margin-left: 10px; /* Відступ зліва 10 пікселів */
}

#coins2 {
    margin-right: 10px; /* Відступ справа 10 пікселів */
}

#extraCoins{
    margin-left: 15px;
   
    
}

/* Стилізація іконок */


/* Модальний вміст */
div.text-center {
    text-align: center;
}

/* Додаткові стилі для іконок */


/* Кнопка запрошення */
button.bg-gray-600 {
    background-color: #4D4D4D;
    color: white;
    padding: 10px 20px;
    border-radius: 4%;
    border: none;
    font-size: 1rem;
}

.button_down {
    background-color: #4D4D4D;
    color: white;
    display: flex;
    justify-content: center; /* Вирівнювання по горизонталі */
    align-items: center; 
    margin: 0 auto;
    border-radius: 5px;
    width: 260px; 
    height: 55px;
    font-size: 200%;
    margin-top: 10px;
    
}

/* .bottom-title-daily {
    
    margin-top: -134px;
  } */

/* .close-button-daily {
    margin-bottom: 15px;
    margin-right: 5px;
  }  */





.button_down:active { 
    background-color: #333333; /* Можна змінити колір для активної кнопки */
    
}

#button_down{
    transform: scale(0.9); /* Зменшуємо кнопку на 10% при натисканні */
    background-color: #333333; /* Зміна фону на сірий під час натискання */
}

.ivite-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    height: 10vh;
    padding-bottom: 70px;

   
}

.qr-code {
    position: fixed; /* fix the container to the bottom of the screen */
    top: 90px; /* set the bottom property to 0 */
    left: 50%; /* center the container horizontally */
    transform: translateX(-50%); /* center the container horizontally */
    width: 40lvh; /* set the maximum width to 50% */
    margin: auto; /* center the container horizontally */
    border-radius: 10px; /* add a border radius */
    padding: 1rem; /* add some padding */
    box-shadow: 2px 2px 10px grey; /* add a box shadow */
}

.qr-code img {
    width: 100%; /* set the image width to 100% of the container */
    height: 100%; /* set the image height to 100% of the container */
    object-fit: cover; /* resize the image to fit the container */
    border-radius: 2%; /* add a border radius to the image */
}

.buttons {
    left: 50%;
    transform: translateX(-50%);
    position: fixed; /* fix the container to the bottom of the screen */
    bottom: 90px; /* set the bottom property to 0 */
    
}




.buttonn, .button-cop {
    width: 200px;
    padding: 15px;
    margin: 20px;
    background-color: #4A4A4A;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 8px;
}


.modal{
    display: none;
}

 /* Adjust styles for mobile devices */
 @media (max-width: 480px) {
    .data-container{
        top: -8px;
        padding: 0px;
        overflow-y: auto;
        position: relative;
        height: 100px; /* Максимальна висота контейнера */
        width: 310px;
        
        
    }


    .data-container5{
        /* background-color: aliceblue; */
        height: 150px; /* Максимальна висота контейнера */
        width: 310px;
        padding-left: 20px;
    }


  

    .flex-items{
        margin-left: -30px;   
       }
        
    .friends-item{
        font-size: 15pt;
    }
   

    .button_down{
        height: 50px;
        bottom: 96px;
        margin-top: 20px;
        width: 240px;
        font-size: 22px;
    
    }


  

    div.bg-gray-600 {
      
        padding: 16px;
        border-radius: 1%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        width: 50px;
             
    }

    .line-st{
        gap: 35px;
    }

    .line-st::after {
        bottom: px; /* Лінія по нижньому краю */
        margin-left: 112px; /* Лінія знаходиться по середині */
        width: 308px; /* Задає ширину лінії */
        height: 2px; /* Товщина лінії */
   
    }

    .pr-fr{
        margin-top: 30px;
    }
    .pr-ref{
        margin-top: -21px;
    }
  
 

    div.bg-gray {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        margin-right: 10px;
        border: solid 1px;
        
    }
    
    .image1{
        width: 24px;
        height: 24px;
        margin-bottom: 8px; 
        margin-right: -15px;
    }
    
    .flex{
        margin-left: 13px;
    }
    
    #claimButton{
        height: 35px;
    }
    .qr-code{
        top: 60px;
        height: 300px;
        width: 300px;
    }
    .buttons{
        bottom: 60px;
    }
    .buttonn, .button-cop {
        margin-top: 10px;
        height: 17px;
    }
  }
  
  /* Adjust styles for tablets */
  @media (min-width: 481px) and (max-width: 768px) {
    .donate-item{
        font-size: 15pt;
    }
   

    .don-item {
        
        
        
        height: 82px;
        width: 82px;
        overflow: hidden;
    }

    #close-button{
        position: absolute;
        right: 20px;
        top: 15px;
        

    }
  }
  

