
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap'); /* Підключаємо шрифт Montserrat */

.donate-item{
    margin-top: 34px;
    font-family: 'Montserrat', sans-serif; /* Шрифт Montserrat */
    text-align: center;
    font-size: 40pt;
    color: aliceblue;
    
}

.modal{
    display: none;
}




#overlay-container.active #close-button {
    display: block; /* show the close button when overlay is active */
}

#close-button:active {
    transform: scale(0.9); /* Зменшуємо кнопку на 10% при натисканні */
    background-color: #333333; /* Зміна фону на сірий під час натискання */
}



.donate_nav {
    position: absolute;
    top: 95px; /* Відстань від верху сторінки */
    left: 0px;
    right: 0;
    margin: 0 auto; /* Центрування навігації */
    width: 90%; /* Збільшена ширина для більш зручного розташування на екрані */
    height: 55px; /* Збільшена висота для зручності */
    
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 елементи в рядку */
    gap: 40px;
   

    border-radius: 10px; /* Округлені кути */
    place-items: center; 
    column-gap: 35px;
    
}

.don-item {
    
    background-color: #4D4D4D ;
    /* background-image: url("donate_png/Button for donates.png") ; */
    max-width: 90px;
    border-radius: 5%;
    background-size: 25px 25px;
    cursor: pointer; /* Make items clickable */
    
     
}




  /* Adjust styles for mobile devices */
  @media (max-width: 480px) {
    .donate_nav{
        
        position: flex;
        
        
    }
        
    .donate-item{
        font-size: 15pt;
    }
   

    .don-item {
        
        
        
        height: 83px;
        width: 83px;
        overflow: hidden;
        
    }
    
    #close-button{
        position: absolute;
        right: 20px;
        top: 15px;
        

    }
  }
  
  /* Adjust styles for tablets */
  @media (min-width: 481px) and (max-width: 768px) {
    .donate-item{
        font-size: 15pt;
    }
   

    .don-item {
        
        
        
        height: 82px;
        width: 82px;
        overflow: hidden;
    }

    #close-button{
        position: absolute;
        right: 20px;
        top: 15px;
        

    }
  }







