@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap'); /* Підключаємо шрифт Montserrat */

body {
    font-family: 'Montserrat', Arial, sans-serif; /* Використовуємо Montserrat як основний шрифт */
    color: white;
    margin: 20px;
   
    
}


  
.modal {
    display: none;
  }
 


.daily-item {
    margin-top: 1px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 10pt;
    color: aliceblue;
}

.container1, .container2 {
    margin: 1px;
    padding: 10px;
    max-height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Додаємо легку тінь для стилю */
}
.text{
    margin-left: 2px;
}

.section-title1, .section-title2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt; /* Збільшуємо розмір шрифту для заголовку */
    margin-bottom: 1px;
    text-align: left; /* Центруємо текст заголовку */
    color: aliceblue;
    margin-left: 10px;

}
.container2{
    margin-top: 20px;
}

.reward, .task {
    background-color: #444;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 14pt; /* Вирівняно розмір шрифту */
    height: 40px; /* Додаємо мінімальну висоту, щоб уникнути стиснення */
    cursor: pointer; /* Додаємо курсор для індикації можливості взаємодії */
}

.task {
    display: flex;
    align-items: center;
    background-color: #444; /* Фон для завдань */
   
    border-radius: 5%;
    width: 85vh;
}

.task i {
    font-size: 24px;
    margin-right: 10px;
    color: #ffd700; /* Додаємо кольорову іконку */
}

.task span {
    flex-grow: 1;
    font-size: 12pt; /* Зменшуємо трохи розмір шрифту для кращого вигляду */
}

/* Додаємо стилі для анімації при натисканні на елементи */
.reward:hover, .task:hover {
    background-color: #707070;
    transition: background-color 0.3s ease;
}

.img_daily{
    width: 40px;
    height: 40px; 
}

.img_daily_f{
    width: 20px;
    height: 40px;
}


@media (max-width: 480px) {
    body {
        margin: 10px; /* Зменшення загальних відступів */
    }
    .container2{
        margin-top: -15px;
    }


    .reward, .task {
        width: 270px; 
        font-size: 12pt; /* Зменшення розміру шрифту */
        padding: 10px; /* Менший відступ всередині елементів */
        height: 15px; /* Зменшення висоти елементів */
    }
    .reward{
        padding: 100px;
    }

    .section-title1, .section-title {
        font-size: 10pt; /* Зменшення розміру шрифту для заголовків */
    }

    .img_daily {
        width: 23px;
        height: 23px;
    }

    .img_daily_f {
        width: 15px;
        height: 25px;
    }
    .arrow{
        right: 15px;
        transform: rotate(270deg) scale(1.1);
    }
    .modal{
        top: 55px;
    }
    .bottom-title-daily {
        left: 5px;
        margin-top: -70px;

      }
      .close-button-daily {
        margin-right: -8px;
      }
   

}