.don-modal-content-rew {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      width: 100%;
      height: 100%;
      max-width: 500px;
      text-align: center;
      position: relative;
      
  }
.title-daily:before {
    content: "Donate reward";
  }
  
.bottom-title {
    width: 100%; /* Займає всю ширину сторінки */
    background-color: #707070;
    position: fixed; /* Фіксує елемент у верхній частині вікна */
    top: 0; /* Розміщує елемент у самому верху */
    left: 0; /* Вирівнює по лівому краю */
    z-index: 1000; /* Забезпечує, що елемент буде поверх інших елементів */
    margin: 0; /* Забираємо будь-які зовнішні відступи */
    padding: 10px; /* Можеш додати padding для внутрішніх відступів */
    text-align: center; /* Вирівнюємо текст по центру, якщо потрібно */


  }




  

.task-reward  {
    margin-top: 5px;
    background-color: #888;
    border-radius: 2%;
    padding: 10px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 14pt; /* Вирівняно розмір шрифту */
    height: 40px; /* Додаємо мінімальну висоту, щоб уникнути стиснення */
    cursor: pointer; /* Додаємо курсор для індикації можливості взаємодії */
    

}



.task-reward span:first-child {
  text-align: left;
}

.task-reward span:last-child {
  text-align: right;
}

.task-reward span {
    flex-grow: 1;
    font-size: 12pt; /* Зменшуємо трохи розмір шрифту для кращого вигляду */
}
  
  
  
  
  
  
  
@media (max-width: 480px) {

.task-reward{
  width: 280px; 
  font-size: 12pt; /* Зменшення розміру шрифту */
  padding: 10px; /* Менший відступ всередині елементів */
  height: 15px; /* Зменшення висоти елементів */
  margin-bottom: 35px;
}

.task-reward span {

  font-size: 8pt; /* Зменшуємо трохи розмір шрифту для кращого вигляду */
}
     
}
    
/* Adjust styles for tablets */
@media (min-width: 481px) and (max-width: 768px) {
      
    
  
}
  